* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.container {
    margin: 0 auto;
    text-align: center;
}
.kitty{
    width:40%;  
    padding-top: 200px;
}

.small{
    background-image:url("../assets/images/Copia\ de\ night.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    margin: 0 auto;

}

.medium {
    background-size: cover;
    background-position: center;
    width:100%;
    margin: 0 auto;
    display: none;
    height: 500px;
}

.large{
    background-image: url("../assets/images/Copia\ de\ sunny-day.jpg");
    width:100%;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    max-width:992;
    display: none;
    height: 500px;
}

@media (min-width:475px){
    .small {
        display: none;
    }
    .medium {
        background-image: url("../assets/images/Copia\ de\ dawn.png");
        display: block;
    }
}

@media (min-width:768px) {
    .medium {
        display: none;
    }
    .large { 
        display: block;
    }
}


